<!doctype html>
<html lang='en'>

<head>

  <link rel="stylesheet" href="styles/style.css">

  {{> base/meta}}

  {{> base/fonts }}

  {{> base/analytics }}

</head>

<body>

  <!-- The headline area pulls most of its content from data/meta.json -->

  {{> base/headline }}

  <main id='content'>

      {{> story/basic }}
      
    
    </div>

    {{> base/footer }}
  </main>

  <!-- We'll always keep this JS files around -->
  <script src="scripts/vendor/ai2html-resizer.js"></script>

  <!-- This is where you'll put your JavaScript files -->
  <script src="scripts/unknownsShaky.js"></script>
  <script src="scripts/growingAttacks.js"></script>

</body>
</html>