body{
	color:#101010;
	background:#fff;
	font-family: 'B612 Mono', monospace;
}

body a {
	border-bottom: 3px solid rgb(183, 217, 250);
}

#container {
	max-width:800px;
	padding-top:20px;
	margin:auto;
}

section {
	padding:10px;
}

h1 {
	letter-spacing:0.5px;
	font-weight:300;
	font-size:48px;
	margin-bottom:8px;
}

h3 {
	font-size:24px;
	letter-spacing:0.5px;
	margin:0 0 5px 0;
}

p {
	font-weight:300;
	font-size:18px;
	margin:3px 0 10px 0;
	line-height:1.5rem;
}

section.header a{
	font-weight:500;
	padding:0px 4px 2px 4px;
	text-decoration:none;
	display:inline-block;
	color:#000;
	border-bottom: 3px solid rgb(183, 217, 250);
	background:rgb(183, 217, 250);
	transition:all 0.2s;
	opacity:1;
}

section.header a:hover {
	opacity:0.7;
}

p span {
	font-weight:900;
	color:rgb(183, 217, 250);
}

section.get-in-touch {
	padding-top:0px;
	padding-bottom:40px;
}

section.get-in-touch a, section.links a {
	border-bottom: 3px solid rgb(183, 217, 250);
	color:#333;
	transition:all 0.2s;
	font-weight:400;
	display:inline-block;
	background:#fff;
	opacity:1;
	margin:0;
}

section.get-in-touch a:hover, section.links a:hover{
	background:rgb(183, 217, 250);
	opacity:1;
	color:#101010;
}


}

section.links p {
	font-size:14px;
	margin:0 0 5px 0;
}

section.links p.visible-link {
	display:block;
}
section.links p.hidden-link {
	display:none;
}

section.links a {
	font-size:16px;
}

#see-more {
	font-weight:600;
	font-size:16px;
	cursor:pointer;
	transition:all 0.15s;
	color:#101010;
	height:2em;
	display:inline-block;
}
#see-more span {
	width:18px;
	height:2em;
	vertical-align:baseline;
	font-size:14px;
	transition: all 0.2s;
	display:inline-block;
}
#see-more:hover {
	color: rgb(183, 217, 250);
}
#see-more:hover span {
	font-size:16px;
}



