/* adapted from https://github.com/kognise/water.css */
:root {
  --body-font: serif;
}
html {
}
body {
  line-height: 1.4;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'kern' 1, 'onum' 0, 'liga' 0, 'tnum' 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
}
p {
  margin: 1rem 0;
}
mark {
  border-radius: 2px;
  padding: 0 2px;
}
button,
input[type='button'],
input[type='checkbox'],
input[type='radio'],
input[type='range'],
input[type='submit'],
select {
  cursor: pointer;
}
input:not([type='checkbox']):not([type='radio']),
select {
  display: block;
}
button,
input,
select,
textarea {
  font-size: inherit;
  padding: 0.5em;
  border: none;
  border-radius: 4px;
  outline: none;
}
input[type='checkbox'],
input[type='radio'] {
  height: 1em;
  width: 1em;
}
input[type='radio'] {
  border-radius: 100%;
}
input {
  vertical-align: top;
}
label {
  vertical-align: middle;
  margin-bottom: 4px;
  display: inline-block;
}
button,
input:not([type='checkbox']):not([type='radio']),
input[type='range'],
select,
textarea {
  -webkit-appearance: none;
}
textarea {
  display: block;
  margin-right: 0;
  box-sizing: border-box;
  resize: vertical;
}
textarea:not([cols]) {
  width: 100%;
}
textarea:not([rows]) {
  min-height: 40px;
  height: 140px;
}
select {
  padding-right: 32px;
}
select::-ms-expand {
  display: none;
}
select[multiple] {
  padding-right: 8px;
  background-image: none;
  overflow-y: auto;
}
button:disabled,
input:disabled,
select:disabled,
textarea:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
fieldset {
  border-radius: 6px;
  margin: 0 0 12px;
  padding: 10px;
}
legend {
  font-size: 0.9em;
  font-weight: 600;
}
input[type='range'] {
  padding: 0;
  margin: 0;
  background: transparent;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 4px;
}
input[type='range']::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type='range']::-moz-range-track {
  width: 100%;
  height: 10px;
  -moz-transition: 0.2s;
  transition: 0.2s;
  border-radius: 4px;
}
input[type='range']::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
input[type='range']::-ms-track {
  width: 100%;
  height: 10px;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type='range']::-ms-fill-lower,
input[type='range']::-ms-fill-upper {
  border: 0.2px solid #010101;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
}
input[type='range']::-ms-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
a {
  text-decoration: none;
  color: #185f7d;
  background-color: transparent;
}
a:hover {
}
img,
video {
  max-width: 100%;
  height: auto;
}
hr {
  border: none;
}
table {
  border-collapse: collapse;
  margin-bottom: 10px;
  width: 100%;
  table-layout: fixed;
}
table caption,
td,
th {
  text-align: left;
}
td,
th {
  padding: 6px;
  vertical-align: top;
  word-wrap: break-word;
}
details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 10px 0;
  margin: 1em 0;
  border-radius: 6px;
  overflow: hidden;
}
details[open] {
  padding: 10px;
}
details > :last-child {
  margin-bottom: 0;
}
details[open] summary {
  margin-bottom: 10px;
}
summary {
  display: list-item;
  padding: 10px;
  margin: -10px -10px 0;
  cursor: pointer;
  outline: none;
}
summary:focus,
summary:hover {
  text-decoration: underline;
}
details > :not(summary) {
  margin-top: 0;
}
