<div class="row">
  <div class="col-12">
    <h3>Chart 1: A single line</h3>
    <p>Draw a single line showing AAPL's stock price over a range in 2015-2016, with small dots marking each point. Use <code>AAPL.csv</code> (it's from Yahoo stock prices).</p>
    <div id="chart-01">
    </div>
  </div>
</div>
