<div class="row mt-3">
  <div class="col-12">
    <h3>Chart 8: Small multiples painfully and manually</h3>
    <p>Building a non-animated version of <a href="https://www.nytimes.com/interactive/2017/07/28/climate/more-frequent-extreme-summer-heat.html">this NYT visualization</a>. If you finish this one you will become the President of the Galaxy.</p>
    <p>Data is in <code>climate-data.tsv</code></p>
    <div id="chart-08">
    </div>
  </div>
</div>