<!doctype html>
<html lang='en'>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/style.css">
</head>

<body>
<div class="container">
  {{> base/headline }}

  {{> not-a-test/chart-01 }}
  {{> not-a-test/chart-02 }}
  {{> not-a-test/chart-03 }}
  {{> not-a-test/chart-04 }}
  {{> not-a-test/chart-05 }}
  {{> not-a-test/chart-06 }}
  
  
  <script src="scripts/chart-01.js"></script>
  <script src="scripts/chart-02.js"></script>
  <script src="scripts/chart-03.js"></script>
  <script src="scripts/chart-04.js"></script>
  <script src="scripts/chart-05.js"></script>
  <script src="scripts/chart-06.js"></script>

</body>
</html>