<div class="row mt-3">
  <div class="col-12">
    <h3>Chart 4: </h3>
    <p>Draw multiple lines, with a single dot at the end of the line and some text saying which country it is.</p>
    <p>Highlight one of the countries in a different color. Highlight its name, too.</p>
    <p>Use <code>air-emissions.csv</code>.</p>
    <div id="chart-04">
    </div>
  </div>
</div>