<div class="row mt-3">
  <div class="col-12">
    <h3>Chart 3: Multiple lines (same file)</h3>
    <p>An area graph with multiple overlapping segments, use <code>air-emissions.csv</code> to graph pollutants over years. Since they're overlapping, I'd like to be able to see through them a little (even if you can't tell). No dots.</p>
    <div id="chart-03">
    </div>
  </div>
</div>