<div class="row mt-3">
  <div class="col-12">
    <h3>Chart 6: Interactive graphic</h3>
    <div class="alert alert-warning">
      If you find something especially hard, or your code keeps breaking, just hit undo until your graph kind of works and skip to the next part or problem.
    </div>
    <p>Copy the code from Chart 1, and make the graphic interactive.</p>
    <ul>
      <li>Hovering over a player should put a black border around their circle</li>
      <li>Hovering over a player should display their name and team name to the right</li>
      <li>Clicking on a button should highlight those kinds of players (you can decide what that means)</li>
    </ul>
  </div>
  <div class="col-8">
    <div id="chart-06"></div>
  </div>
  <div class="col-4">
    <p><button class="btn btn-danger btn-sm" id='c'>Centers</button></p>
    <p><button class="btn btn-info btn-sm" id='pg'>Point guards</button></p>
    <p><button class="btn btn-warning btn-sm" id='ppg'>20+ points per games</button></p>
    <p><button class="btn btn-light btn-sm" id='reset'>Reset</button></p>
    <h3 id='playerName'>Player name</h3>
    <p id='teamName'>Team name</p>
  </div>
  <div class='col-12 mt-3'>
    <div class="hints">
      <p><strong>Hints:</strong></p>
      <ul>
        <li>Remember to change from <code>chart-01</code> to <code>chart-06</code></li>
        <li>You'll want to make the graphic more narrow</li>
        <li><code>hover</code> is <strong>not</strong> an event</li>
        <li><code>Team</code> is the column for the team name</li>
        <li>You'll need to edit the HTML to be able to change the 'player name' and 'team name' sections, as well as listen for clicks on the buttons.</li>
      </ul>
      </div>
    </div>
  </div>
</div>