<!doctype html>
<html lang='en'>
<head>
  <link rel="stylesheet" href="styles/style.css">
  {{> base/meta}}
  {{> base/fonts }}
  {{> base/analytics }}
</head>
<body>
  <!-- The headline area pulls most of its content from data/meta.json -->
  {{> base/headline }}

  <main id='content'>

    {{{body}}}

    {{> base/footer }}
  </main>

  <!-- We'll always keep this JS file around -->
  <script src="scripts/vendor/ai2html-resizer.js"></script>

</body>
</html>