#post h2,
#post h3,
#post h4,
#post h5,
#post h6 {
	@apply font-serif text-blue leading-none mt-8 mb-4 pt-6;
}
#post h2 {
  @apply text-3xl uppercase;
}
#post p {
  @apply font-mono text-xl;
}

#post a:hover {
  color: var(--pink);
}

#post p.body {
  @apply my-4;
}

#post p.body:first-of-type::first-letter {
  font-size: 250%;
  @apply bg-blue text-grey  px-1 mr-2 leading-none float-left;
}
