/*** RESET ***/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    scroll-behavior: smooth;
}

::-webkit-scrollbar { 
	display: none; 
}

body{
	color:#333333;
	font-family: 'B612 Mono', monospace;
  background-color: whitesmoke;
  scroll-behavior: smooth;
}

.header-container {
	/* max-width: 1000px; */
	margin-left: auto;
  margin-right: auto;
  display: absolute;
}

.body-container {
	max-width: 1000px;
	margin-left: auto;
  margin-right: auto;
  display: inline-flexbox;
}

section {
  padding:10px 0px;
  margin-bottom: 10vh;
  /* height: 75vh; */
  align-content: center;
  background: whitesmoke;
}

section.home {
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
}

h1 {
	font-size: 3em;
	font-weight: 600;
	letter-spacing: -0.1em;
	word-spacing: -0.1em;
	text-align: center;
}

h3 {
	text-align: center;
	font-size:1.5em;
	font-weight: bold;
	letter-spacing:0.5px;
	margin:0 0 5px 0;
}

p {
	font-family: 'B612', monospace;
	font-weight: 100;
	font-size:16px;
	margin:3px 0 10px 0;
	line-height:1.5rem;
}


section.header {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  /* position: fixed; */
  /* max-width: 750px; */
}

section.header, a{
	font-weight:500;
	padding:0px 4px 2px 4px;
	text-decoration:none;
	display:inline-block;
	color:#000;
	border-bottom: none;
	background: none;
	transition:all 0.2s;
	opacity:1;
}

section.header, a.socials:hover {
	background-color:  rgb(183, 217, 250);
}

#about {
  padding: 5px;
  background: rgba(245, 245, 245, 0.788);
}

h2 {
  text-align: left;
  font-size: 24px;
  font-weight: 600;
  border-bottom: #333333 1px solid;
}

.secret-bio {
  margin-top: 15px;
  text-align: left;
}

.socials {
  font-size: 28px;
  text-align: center;
  vertical-align: middle;
}

.socials a:hover {
  background-color: rgb(183, 217, 250);
}


h1.section-title {
  font-size: 7vh;
  color: slategray;
  letter-spacing: 0;
}
.currently {
  margin-right: auto;
  margin-left: auto;
  line-height: 1.5em;
  text-align: center;
}

.row {
	margin: 0px 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: flexbox;
  width: 100%;
  /* max-width: 900px; */
}

.row a {
	text-decoration: none;
	color: black;
}


/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
  margin-right: auto;
  margin-left: auto;
  /* display: flex; */
  /* align-items: center; */
}

/* Create four equal columns that floats next to each other */
.column {
  margin-left: auto;
  margin-right: auto;
	float: left;
	width: 33%;
	box-sizing: border-box;
	-webkit-filter: none; /* Safari 6.0 - 9.0 */
		filter: none;
    transform:scale(1.05);
  vertical-align: middle;
  text-align: center;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  align-items: center;
  padding: auto 8px;
  /* height: 400px; */
}

.content {
  width: 100%;
	padding: 6px 1em;
  margin: 0em 1em 1em 1em;
  display: inline-block;
  vertical-align: top;
	border-width: 1px;
	border-color: rgb(183, 217, 250);
	border-style: solid;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: all .2s;
}

.content:hover {
	-webkit-filter: none; /* Safari 6.0 - 9.0 */
		filter: none;
    transform:scale(1.05);
  background-color: rgb(228, 239, 250);
}

.info {
position: relative;
padding-bottom: 1.1em;
}

.description {
	font-size: 14px;
	font-weight: 100;
	line-height: 18px;
	text-align: left;
	text-justify: inter-character;
	word-break: normal;
	hyphens: auto;
}

.description-home {
	font-size: 14px;
	font-weight: 100;
	line-height: 18px;
	text-align: center;
	text-justify: inter-character;
	word-break: normal;
	hyphens: auto;
}

.left-half {
/** background-color: #ff9e2c; **/
position: absolute;
left: 0px;
width: 50%;
}

.right-half {
/** background-color: #b6701e; **/
position: absolute;
right: 0px;
width: 50%;
}

.skills {
text-align: left;
font-size: 10px;
padding-bottom: 0.5em;
}

.date {
text-align: right;
font-size: 10px;
padding-bottom: 0.5em;
padding-right: 1px;
}

.nomargin {
margin: 0;
}
/* Clear floats after rows */
.row:after {
	content: "";
	display: table;
	clear: both;
}


/* Loading animation */
* {
  margin: 0;
  padding: 0;
}

.container {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}
.container .box {
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container .box .title {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
}
.container .box .title .block {
  width: 0%;
  height: inherit;
  background: rgb(183, 217, 250);
  position: absolute;
  display: flex;
}
.container .box .title h1 {
  color: #000;
  font-size: 3.2em;
  font-weight: 200;
  display: flex;
  align-items: baseline;
  position: relative;
}
.container .box .title h1 span {
  width: 0px;
  height: 0px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgb(183, 217, 250);
  -webkit-animation: load 0.1s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation: popIn 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 0s;
  position: absolute;
  bottom: 60%;
  right: -16px;
}
.container .box .role {
  width: 72%;
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: -6px;
  left: 35%;
}
.container .box .role .block {
  width: 0%;
  height: inherit;
  background: lightslategray;
  position: absolute;
  animation-delay: 2s;
  display: flex;
}
.container .box .role p {
  font-weight: 200;
  font-family: 'Open Sans', monospace;
  color: #000;
  font-size: 100%;
  text-transform: uppercase;
  letter-spacing: 6.5px;
}

.box, .socials {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 8px;
  margin-top: 15px;
  width: 15%;
  border: #333333 1px solid;
  background: whitesmoke;
  color: lightblue;
  z-index: 1;
  font-family: 'B612 Mono', monospace;
  float: left;
}

.sticky > * {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  margin: 0 0 0 15px;
  color: #333333;
  font-size: 16px;
  line-height: 1.5rem;
  text-align: right;
}

.doodle {
	position: absolute;
  z-index: -10;
  margin: 0 auto;
  overflow: hidden;
}


/* Mobile */
@media (max-width:700px) {
  .column {
    width: 100%;
    margin: 8px auto;
  }

  .sticky {
    width: 100%;
  }
}

@media screen and (max-width: 450px) {
  .sticky {
    width: 100vw;
    top: 0;
    margin-bottom: 15px;
    text-align: center;
  }

  .sticky > * {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media (max-height: 700px) {
  .sticky {
    width: 100vw;
    top: 0;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .sticky > * {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

@media (max-width: 1400px) {
  .sticky {
    width: 100vw;
    top: 0;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .sticky > * {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

footer {
  margin: 0 auto;
}