<div class="story-body">
  <p class="body-text">"Unknown" attackers have been plaguing the <a href='https://www.start.umd.edu/gtd/' traget='_blank'>Global Terrorism Database</a> for years. Attacks have jumped higher than ever in the last few years.</p>
  <p class='body-text'>In its last few years, the database recorded a heightened number of total attacks, with more unknown attacks than ever. The increase of total attacks has been ongoing since 2011, when there were 10 attacks. In 2017, the most current year in the database, there were 65, over a 650% increase from 2011. The largest jump happened from 2015 to 2016.</p> 
</div>

<div class="chart-section">
  <h2>Rising Attacks, Persistent Uncertainty</h2>
  <p>With a surge in terrorist attacks, those from unknown attackers have jumped as well.</p>
  <div id="growingAttacks"></div>
</div>

<div class='margins story-body'>
    <p class="body-text">Places of worship have been the number one target for the past three years for unknown attackers, likely because of a growing white nationalism movement in the U.S. that has divided the country.</p>
    <p class='body-text'>For 2015, the most popular motive recorded by START speculates the attacks were against the Muslim community. For 2016, the most popular motive speculates the attacks stem from the Islamic State of Iraq and the Levant. Both motives were carried out from unidentified groups, which more than doubled from 2015 to 2016 and made up about half of all attacks in both years.</p>
    <p class="body-text">The attack on places of worship by unknown attackers peaked in 2016 with 17 attacks. The following year saw a peak in attacks on places of worship by known attackers with 10 attacks.</p>
</div>

<div class="chart-section">
  <h2>Unknowns Have Been Shaky</h2>
  <p>Unkndowns have taken up nearly half of the total attacks throughout most years, but the nine-year mean is up 10%</p>
  <div id="unknownsShaky"></div>
</div>


<div class="chart-section">
  {{> story/top_targets_recent_years }}
</div>