<div class="row">
    <div class="col-12">
      <h1>Homework: Lines, areas and small multiples</h1>

      <p class="alert alert-warning">You'll need to run <code>npm run start</code> to start up Sawhorse (that's our template engine! Parcel + Handlebars + a bunch of other build tool stuff).</p>
    </div>
  </div>