<div class="story-body">
  <p class="body-text serif">After scraping the MTA's subway ridership data for a project <a href='https://sawyerclick.github.io/project/subway-ridership/index.html' target='_blank'>detailing</a> the system's extreme ridership loss, I charted out each station's ridership change from 2017 to 2018.</p>
  <p class="body-text serif">Using ai2html and Adobe Illustrator, I tweaked this image to responsively act to browser and device size. The largest two models are relatively the same, just a different size. The smallest model breaks the boroughs apart and groups them in pairs rather than presenting them all side by side.</p>
</div>

<div class="chart-section">
  <div class="chart-row">
    <div class="chart">
      {{> story/illustrator }}
    </div>
  </div>
</div>

<div class="story-body">
    <p class="body-text serif">Manhattan suffered far more than the other boroughs, with two stations losing more than 3 million rides. No other borough crossed the -2 million threshold. The large number of stations that lost ridership can be attributed to maintenance efforts.</p>
    <p class="body-text serif">Across the board, the pairing of Brooklyn and Manhattan makes more sense as the two had the startest contrasts. The Bronx and Queens were both lukewarm, though the boroughs still lost more rides than they gained.</p>
</div>
 