/*  Chart */*/
.chart-section {
  margin: 3% 0 3% 0;
  align-content: right;
  /* max-width: 700px; */
  left: -3rem;
}


.chart-section {
  width:100%;
  max-width:1200px;
  padding:20px 0px;
}

.story-body .chart-section {
padding-top:0px;
}


.chart-row {
display:flex;
justify-content: space-between;
margin-top:20px;
}

p.chart-title {
font-size:1.5rem;
font-weight:700;
/* max-width:700px; */
/* margin:0px auto 5px auto; */
}
p.chart-subhead {
margin:-1px auto;
max-width:700px;
font-size:1rem;
margin-bottom:15px;
}

p.chart-label {
margin:0 0 5px 0;
font-size:0.85rem;
text-transform:uppercase;
font-weight:600;
}

.chart-row .chart {
width:100%;
padding-right:15px;
min-width:calc(25% - 15px);

}

p.chart-source {
font-size:0.85rem;
margin:0;
}

.chart img {
width: 75%;
height: auto;
}


section {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 5rem;
  width: 75vw;
}

@media screen and (min-width: 35rem) {
  section {
    flex-direction: row;
  }
}
section > figure {
  flex: 1.5;
}

section > article {
  flex: 1;
}

@media screen and (min-width: 35rem) {
  article p {
    margin: 0;
  }
}
@media screen and (min-width: 35rem) {
  article p:not(:last-of-type) {
    min-height: 10vh;
  }
}

figure {
  align-items: center;
  align-self: flex-start;
  display: flex;
  height: 90%;
  margin: auto;
  margin-top: 0%;
  width: 100%;
  max-width: 700px;
  justify-content: center;
  top: 3rem;
  margin-right: 1rem;
}
@media screen and (min-width: 35rem) {
  figure {
    position: -webkit-sticky;
    position: sticky;
  }
}

@media (max-width:850px){
  section {
    width: 100%;
  }
}


    .scrolly-image {
        z-index: -1;
    }
    .scrolly-image img {
        max-width: 100%;
    }
    .step {
        height: 100vh;
        width: 30vw;
        margin-top: 0;
        margin-left: 35vw;
    }
    .scrolly-image {
        position: sticky;
        top: 3rem;
        
    }
    .step p {
        /* border: rgb(244, 214, 120) 1px solid; */
        background-color: rgba(243, 231, 199, 0.849);
        padding: 5px 10px;
        font-family: 'Lora', serif;
        font-size: 1.2rem;
    }

    .scrolly-container {
      width: 75vw; 
      margin: auto;
    }

    @media (max-width: 850px) {
      .scrolly-container {
        width: 100vw;
      }
      .step {
        width: 50vw;
        margin: auto;
        margin-left: 40%;
      }
    }