<div class="row">
    <div class="col-12">
      <div class="jumbotron">
        <h1 class="display-4">{{ meta.headline }}</h1>
        <p class="lead">{{ meta.subhead }}</p>
        <hr>
        <p><strong>{{ meta.subsubhead }}</strong></p>
      </div>
    </div>
  </div>