<!doctype html>
<html lang='en'>

<head>

  <link rel="stylesheet" href="styles/style.css">

  {{> base/meta}}

  {{> base/fonts }}

  {{> base/analytics }}

</head>

<body>

  <!-- The headline area pulls most of its content from data/meta.json -->

  {{> base/headline }}

  <main id='content'>

      <!-- 
        Put some content into an .hbs file inside of /partials, 
        and you can just throw it in anywhere!
      -->
      
      {{> story/basic }}

      <!-- 
        If you want to use something exported from ai2html...
          1. Rename the exported .html file to .hbs
          2. Put the .hbs file inside of 'html/story'
          3. Move the exported images to the images folder
          4. Include the partial normally like below
       -->

      {{> story/illustrator_demo }}

      <!--
        You can also put the actual HTML here if you really want to,
        although it's a little less organized looking
      -->

      <div class="story-body">
          <h2>Here is another section</h2>
          <p>I can put text here, and a div underneath</p>
          <div id="chart-1"></div>
      </div>

    </div>

    {{> base/footer }}
  </main>

  <!-- We'll always keep this JS files around -->
  <script src="scripts/vendor/ai2html-resizer.js"></script>

  <!-- This is where you'll put your JavaScript files -->
  <script src="scripts/chart-01.js"></script>

</body>
</html>