<section id='viz'>
  <div class="body-container">
    <div class="row">
      {{#each graphics}}
        {{> base/project }}
      {{/each}}
    </div>
  </div>
</section>

{{!-- <section id='words'>
  <div class='sticky'>
      <p class='key-hed'>Words & Reporting</p>
      <div id='nbcProj'  style='background:rgba(207, 206, 252, 0.3);'>
        <p class='key noselect'>NBC News</p>
      </div>
      <div id='nbcProj'  style='background:#C8E1CC;'>
        <p class='key noselect'>Transit New York</p>
      </div>
      <div id='sideProj' style='background:#FCC6B3;'>
        <p  class='key noselect'>University Star</p>
      </div>
  </div>

  <div class='body-container'>
    <div class="row">
      {{#each words}}
        {{> base/project }}
      {{/each}}
    </div>
  </div>
</section> --}}
