<div class="row mt-3">
  <div class="col-12">
    <h3>Chart 5: Line graph</h3>
    <div class="alert alert-warning">
      If you find something especially hard, or your code keeps breaking, just hit undo until your graph kind of works and skip to the next part or problem.
    </div>
    <p>Use <code>product_sales.csv</code> to draw a line graph.</p>
    <ul>
      <li>Year is the x axis, sales is the y axis.</li>
      <li>The graph should be 680 pixels wide, 300 pixels tall</li>
      <li>The coffee line should be <code>red</code>, everything else should be <code>lightgrey</code></li>
    </ul>
  </div>
  <div class="col-8">
    <div id="chart-05"></div>
  </div>
  <div class='col-12 mt-3'>
    <div class="hints">
      <p><strong>Hints:</strong></p>
      <ul>
        <li>Cut and paste all of the margin/height/width/inserting svg code from other work you've done</li>
        <li>You'll need to group your data</li>
        <li>You don't need a color scale for the coloring part</li>
      </ul>
    </div>
  </div>
</div>