<div class="row mt-3">
  <div class="col-12">
    <h3>Chart 2: Scatter plot</h3>
    <div class="alert alert-warning">
      If you find something especially hard, or your code keeps breaking, just hit undo until your graph kind of works and skip to the next part or problem.
    </div>
    <p>Use <code>player_stats.csv</code> to make another scatterplot of NBA players.</p>
    <ul>
      <li>Position goes across the bottom, weight (kg) goes up and down</li>
      <li>Make the graphic a little more narrow.</li>
      <li>Color each point based on the player's position</li>
      <li>Make the points all the same size</li>
      <li>Give me a little spacing between the axis lines and the circles</li>
    </ul>
    <div id="chart-02">
    </div>
    <div class="hints">
    <p><strong>Hints:</strong></p>
      <ul>
        <li>Cutting and pasting from the last chart is a good idea, but remember to change the div you're pointing at</li>
        <li>The only positions in this dataset are:
          <ul>
            <li><code>PG</code> (point guard)</li>
            <li><code>SG</code> (shooting guard)</li>
            <li><code>PF</code> (power forward)</li>
            <li><code>C</code> (center)</li>
          </ul>
        </li>
        <li>Yes, I asked for spacing, but don't try to start your <code>xPositionScale</code> at anything other than zero. There's another way.</li>
      </ul>
    </div>
  </div>
</div>