<div class="row mt-3">
  <div class="col-12">
    <h3>Chart 3: Simple bar graph</h3>
    <div class="alert alert-warning">
      If you find something especially hard, or your code keeps breaking, just hit undo until your graph kind of works and skip to the next part or problem.
    </div>
    <p>Make a horizontal bar graph using <code>animal-counts.csv</code>.</p>
    <ul>
      <li>The animals should be on the y axis</li>
      <li>Pink bars should represent how many animals are in each group</li>
      <li>The maximum number of animals should be 100</li>
      <li>The bars should take up about 75% of their space (aka there should be padding between them)</li>
    </ul>
    <div id="chart-03">
    </div>
    <div class="hints">
      <p><strong>Hints:</strong></p>
      <ul>
        <li>Cut and paste all of the margin/height/width/inserting svg code from other work you've done</li>
        <li>When you cut and paste, remember to change the id of the div you're looking for</li>
        <li>Think about what kind of scale you're using</li>
        <li>I already gave you a hint</li>
        <li>If you call it <code>widthScale</code> your axis code might break</li>
      </ul>
    </div>
  </div>
</div>