/* #C7493A red
#EDF5E1 dark red
#5CDB95 green
#907163 dark tan
#379683 tan */

html {
  scroll-behavior: smooth;
}
/* scrollbar */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(163, 51, 39, 0.8);
}

/* #body {
  margin-top: .5rem;
} */

body {
  background: #111111;
  width: 100vw;
  overflow-x: hidden;
  height: 100vw;
  margin: 0;
  padding: 0;
  -webkit-print-color-adjust: exact;
  scroll-behavior: smooth;
}

/* home page */
.container-dark {
  overflow-y: hidden;
  overflow-x: hidden;
  background: #111111;
  height: 100vh;
  width: 100vw;
  padding: auto;
  margin: auto;
  z-index: 1;
  text-align: center;
}
.full-screen {
  margin-top: 15rem;
  text-align: center;
  max-width: 46rem;
  margin-left: auto;
  margin-right: auto;
}

.center {
  background: transparent;
  display: block;
  margin: 0 auto;
}

svg {
  background: transparent;
  display: block;
  margin: 0 auto;
}

.graphic {
  margin-bottom: 3rem;
}

/* grid */
.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.6;
  shape-rendering: crispEdges;
}
.grid path {
  stroke-width: 0;
}

/* white axis */
.axisWhite line {
  stroke: #444444;
}
.axisWhite path {
  stroke: #444444;
}
.axisWhite text {
  fill: white;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  color: white;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

a,
a:hover {
  text-decoration: none;
  color: white;
}
p,
code,
table {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

#body {
  margin-top: 3rem;
}

/* home page text & effect */
.glitch {
  color: white;
  font-size: 96px;
  position: relative;
  width: 750px;
  margin: 0 auto;
}

@keyframes noise-anim {
  0% {
    clip: rect(81px, 9999px, 7px, 0);
  }
  5% {
    clip: rect(46px, 9999px, 87px, 0);
  }
  10% {
    clip: rect(94px, 9999px, 35px, 0);
  }
  15% {
    clip: rect(33px, 9999px, 63px, 0);
  }
  20% {
    clip: rect(8px, 9999px, 64px, 0);
  }
  25% {
    clip: rect(28px, 9999px, 81px, 0);
  }
  30% {
    clip: rect(68px, 9999px, 33px, 0);
  }
  35% {
    clip: rect(2px, 9999px, 33px, 0);
  }
  40% {
    clip: rect(70px, 9999px, 99px, 0);
  }
  45% {
    clip: rect(27px, 9999px, 31px, 0);
  }
  50% {
    clip: rect(42px, 9999px, 92px, 0);
  }
  55% {
    clip: rect(46px, 9999px, 85px, 0);
  }
  60% {
    clip: rect(5px, 9999px, 47px, 0);
  }
  65% {
    clip: rect(90px, 9999px, 33px, 0);
  }
  70% {
    clip: rect(73px, 9999px, 25px, 0);
  }
  75% {
    clip: rect(66px, 9999px, 56px, 0);
  }
  80% {
    clip: rect(5px, 9999px, 65px, 0);
  }
  85% {
    clip: rect(32px, 9999px, 87px, 0);
  }
  90% {
    clip: rect(87px, 9999px, 6px, 0);
  }
  95% {
    clip: rect(1px, 9999px, 67px, 0);
  }
  100% {
    clip: rect(11px, 9999px, 43px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 29px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  background: #111111;
  overflow: hidden;
  clip: rect(0, 100px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
  width: auto;
  align-content: center;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(63px, 9999px, 84px, 0);
  }
  5% {
    clip: rect(20px, 9999px, 3px, 0);
  }
  10% {
    clip: rect(61px, 9999px, 99px, 0);
  }
  15% {
    clip: rect(66px, 9999px, 89px, 0);
  }
  20% {
    clip: rect(100px, 9999px, 59px, 0);
  }
  25% {
    clip: rect(1px, 9999px, 6px, 0);
  }
  30% {
    clip: rect(12px, 9999px, 81px, 0);
  }
  35% {
    clip: rect(72px, 9999px, 8px, 0);
  }
  40% {
    clip: rect(42px, 9999px, 23px, 0);
  }
  45% {
    clip: rect(29px, 9999px, 96px, 0);
  }
  50% {
    clip: rect(29px, 9999px, 22px, 0);
  }
  55% {
    clip: rect(100px, 9999px, 73px, 0);
  }
  60% {
    clip: rect(11px, 9999px, 82px, 0);
  }
  65% {
    clip: rect(85px, 9999px, 100px, 0);
  }
  70% {
    clip: rect(60px, 9999px, 42px, 0);
  }
  75% {
    clip: rect(30px, 9999px, 6px, 0);
  }
  80% {
    clip: rect(90px, 9999px, 69px, 0);
  }
  85% {
    clip: rect(43px, 9999px, 62px, 0);
  }
  90% {
    clip: rect(51px, 9999px, 37px, 0);
  }
  95% {
    clip: rect(21px, 9999px, 84px, 0);
  }
  100% {
    clip: rect(82px, 9999px, 2px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: 29px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  background: #111111;
  overflow: hidden;
  clip: rect(0, 100px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
  width: auto;
  align-content: center;
}

p.body-text {
  margin-left: 5px;
  color: whitesmoke;
}

/* subhead glitching */
h3 {
  color: whitesmoke;
  font-size: 7vw;
  position: relative;
  top: 15%;
  margin-top: 0.5rem;
  left: 2px;
  font-weight: 800;
  padding-top: 25px;
}
@keyframes noise-anim {
  0% {
    clip: rect(66px, 9999px, 6px, 0);
  }
  5% {
    clip: rect(25px, 9999px, 96px, 0);
  }
  10% {
    clip: rect(55px, 9999px, 45px, 0);
  }
  15% {
    clip: rect(34px, 9999px, 42px, 0);
  }
  20% {
    clip: rect(31px, 9999px, 21px, 0);
  }
  25% {
    clip: rect(28px, 9999px, 28px, 0);
  }
  30% {
    clip: rect(37px, 9999px, 97px, 0);
  }
  35% {
    clip: rect(72px, 9999px, 51px, 0);
  }
  40% {
    clip: rect(15px, 9999px, 8px, 0);
  }
  45% {
    clip: rect(79px, 9999px, 55px, 0);
  }
  50% {
    clip: rect(5px, 9999px, 31px, 0);
  }
  55% {
    clip: rect(73px, 9999px, 2px, 0);
  }
  60% {
    clip: rect(100px, 9999px, 20px, 0);
  }
  65% {
    clip: rect(19px, 9999px, 99px, 0);
  }
  70% {
    clip: rect(35px, 9999px, 55px, 0);
  }
  75% {
    clip: rect(18px, 9999px, 67px, 0);
  }
  80% {
    clip: rect(32px, 9999px, 22px, 0);
  }
  85% {
    clip: rect(80px, 9999px, 47px, 0);
  }
  90% {
    clip: rect(98px, 9999px, 86px, 0);
  }
  95% {
    clip: rect(65px, 9999px, 10px, 0);
  }
  100% {
    clip: rect(64px, 9999px, 45px, 0);
  }
}
.glitch-subhead:after {
  content: attr(data-text);
  position: absolute;
  left: 1px;
  text-shadow: -1px 0 #c7493a;
  top: 0;
  color: whitesmoke;
  background: #111111;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
  padding-top: 25px;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(70px, 9999px, 91px, 0);
  }
  5% {
    clip: rect(24px, 9999px, 62px, 0);
  }
  10% {
    clip: rect(50px, 9999px, 28px, 0);
  }
  15% {
    clip: rect(74px, 9999px, 71px, 0);
  }
  20% {
    clip: rect(12px, 9999px, 60px, 0);
  }
  25% {
    clip: rect(76px, 9999px, 60px, 0);
  }
  30% {
    clip: rect(61px, 9999px, 76px, 0);
  }
  35% {
    clip: rect(31px, 9999px, 76px, 0);
  }
  40% {
    clip: rect(34px, 9999px, 39px, 0);
  }
  45% {
    clip: rect(53px, 9999px, 54px, 0);
  }
  50% {
    clip: rect(98px, 9999px, 33px, 0);
  }
  55% {
    clip: rect(42px, 9999px, 91px, 0);
  }
  60% {
    clip: rect(49px, 9999px, 78px, 0);
  }
  65% {
    clip: rect(49px, 9999px, 50px, 0);
  }
  70% {
    clip: rect(85px, 9999px, 4px, 0);
  }
  75% {
    clip: rect(90px, 9999px, 9px, 0);
  }
  80% {
    clip: rect(91px, 9999px, 54px, 0);
  }
  85% {
    clip: rect(1px, 9999px, 99px, 0);
  }
  90% {
    clip: rect(90px, 9999px, 78px, 0);
  }
  95% {
    clip: rect(54px, 9999px, 70px, 0);
  }
  100% {
    clip: rect(83px, 9999px, 45px, 0);
  }
}
.glitch-subhead:before {
  content: attr(data-text);
  align-content: center;
  position: absolute;
  left: 1px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: whitesmoke;
  background: #111111;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
  padding-top: 25px;
}
.arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}

.arrow {
  width: 40px;
  height: 40px;
  bottom: 5%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}
.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}
@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-10px, -10px);
  }
}

p {
  color: whitesmoke;
}
code {
  background: #689775;
  color: #111111;
  font-weight: 800;
}
.container {
  max-width: 50rem;
}

.container-med {
  width: 70%;
  /* margin-top: 50px; */
  margin-left: auto;
  margin-right: auto;
}

.container-full {
  width: 95%;
  /* margin-top: 50px; */
  margin-left: auto;
  margin-right: auto;
}

section {
  background: #111111;
  /* width: 100vw; */
  /* height: 100vh; */
}

/* specific svgs */

.offset {
  margin-left: 15% !important;
  display: inline;
}

.infobox {
  position: absolute;
  display: inline;
  margin-left: 1rem;
  margin-right: auto;
  padding-top: 40px;
  /* width: 100px; */
}

h4 {
  color: white;
  font-size: 36px;
}

a {
  border-bottom: #c7493a 2px solid;
}

button.graph {
  border-radius: 20px;
  display: inline-block;
  border: none;
  padding: 2px 10px;
  margin-right: 10px;
  text-decoration: none;
  background: whitesmoke;
  color: #111111;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  transition: background 10ms ease-in-out, transform 100ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: -2px 3px gray;
  text-transform: lowercase;
}

button.graph:hover,
button.graph:focus {
  background: -2px 3px rgb(240, 226, 77);
  box-shadow: -2px 3px rgba(255, 17, 120, 0.651);
  outline: none;
}

button.graph:active {
  transform: scale(0.95);
}

.neon {
  font-size: 96px;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff,
    0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}

.control {
  margin-left: 0;
  margin-right: auto;
  margin-top: 30px;
  /* height: 50px; */
  vertical-align: bottom;
}

div.container-full > div.control {
  margin-left: 2%;
  margin-right: auto;
  margin-top: 50px;
  /* height: 30px; */
}

.fa-pause {
  text-anchor: central;
  font-size: 22px;
  right: 2%;
  top: 95%;
  color: whitesmoke;
  position: fixed;
  display: inline-block;
  z-index: 1;
}

.fa-pause:focus,
.fa-pause:hover,
.fa-pause:active {
  transform: scale(0.98);
  color: gray;
  cursor: pointer;
}

.songbox {
  position: flex;
  float: middle;
  display: block;
  padding-right: 15px;
  color: #111111;
  text-align: right;
  /* width: 40%; */
  /* border: white 2px solid; */
  /* background-color: lightgray; */
  /* border-bottom: lightgray 2px solid; */
}

.band,
.song {
  /* padding: 0px; */
  font-size: 18px;
  text-align: center;
}

.source {
  font-size: 12px;
  color: lightgray;
  margin-left: 3%;
  margin-right: auto;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 150px;
  height: auto;
  padding: 2px;
  font-size: 14px;
  background: whitesmoke;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  /* padding-bottom: 100%; // aspect ratio//  */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}