<div class="row mt-3">
  <div class="col-12">
    <h3>Chart 2: Multiple lines (different files)</h3>
    <p>Use <code>alcohol-consumption.csv</code> to graph alcohol consumption over years. I want each line to be a different color, with appropriately-colored dots marking each data point.</h3>
    <div id="chart-02">
    </div>
  </div>
</div>