<div class="row mt-3">
  <div class="col-12">
      <h3>Chart 7: Smaller multiples</h3>
      <p>Reproducing a graphic from <a href="https://www.nytimes.com/2014/04/23/upshot/the-american-middle-class-is-no-longer-the-worlds-richest.html">this Upshot article</a>.</p>
      <p>Data is in <code>middle-class-income.csv</code> and <code>middle-class-income-usa.csv</code></p>
    <div id="chart-07">
    </div>
  </div>
</div>