<div class="row mt-3">
  <div class="col-12">
    <h3>Chart 6: Small multiples (many, <em>many</em> multiples)</h3>
    <p>We'll recreate <a href="https://www.reddit.com/r/dataisbeautiful/comments/3gplje/usa_vs_japan_agespecific_fertility_rates_19472010/">this</a> and <a href="http://www.randalolson.com/2015/08/23/small-multiples-vs-animated-gifs-for-showing-changes-in-fertility-rates-over-time/">this</a> using D3 and small multiples. I want each year as its own graph, with Japan and USA area graphs on top of each other and the year as a note at the top.</p>
    <p>Data is in <code>fertility.csv</code></h3>
    <div id="chart-06">
    </div>
  </div>
</div>