<!doctype html>
<html lang='en'>
<head>
  {{> base/meta}}
  {{> base/fonts }}
  {{> base/analytics }}
  <link rel="stylesheet" href="styles/style.css">
</head>
<body>
  {{!-- <css-doodle class='doodle'>
    :doodle {
            @grid: 30 / 100vw;
            grid-gap: 20x;
          }
    
    transition: .2s cubic-bezier(.175, .885, .32, 1.275) @rand(300ms);
    background: hsla(@r(360), 85%, @r(70%, 90%), @r(.9));
    opacity: @rand(0.1, .4);
    @shape: square;
    @size: @rand(2vw);
    @place-cell: @rand(100%) @rand(100%);
  </css-doodle> --}}
  {{> base/headline }}
  <main id='content'>
    {{> story/basic }}
  </main>
</body>
</html>