<!doctype html>
<html lang='en'>
<head>
  {{> base/meta}}
  {{> base/fonts }}
  {{> base/analytics }}
  <title>Sawyer Click | Data Journalist</title>
  <link rel="stylesheet" href="styles/style.css">
</head>
<body>
  {{> base/headline }}
  <main id='content'>
    {{> story/basic }}
  </main>
</body>
</html>