

body {
	margin:auto;
	padding:50px 10px;
	font-family: 'Open Sans', sans-serif;
}

.serif {
	font-family: 'Lora', serif;
}
.sans-serif {
	font-family: 'Open Sans', sans-serif;
}

/* choose a light or dark theme to add to the body tag. */
.dark-theme {
    background-color: #151515;
    color: #fbfbfb;
}
.light-theme {
    background-color: white;
    color: black;
}

.header {
	padding-top:20px;
	padding-bottom:20px;
}

.story-body, .header, .chart-section, .footer {
	margin:auto;
	max-width: 700px;
}

.footer {
	padding-top:20px;
	padding-bottom:20px;
}

.chart-section.wide{
	width:100%;
	max-width:1200px;
}

.chart-section.wide p.chart-title {
	width:100%;
	max-width:700px;
	margin-left:auto;
	margin-right:auto;
}
.chart-section.wide p.chart-subhead {
	width:100%;
	max-width:700px;
	margin-left:auto;
	margin-right:auto;
}


/* text styles */

p.kicker {
	font-size:1rem;
	text-transform:uppercase;
}

.text-center {
	text-align:center;
}

h1.headline {
    font-size: 3.5rem;
    line-height: 1.1;
    margin-bottom: 0.25rem;
    margin-top: 1rem;
    font-weight: 800;
}

h2.subhead {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom:0;
    margin-top: 15px;
    font-weight: 400;
}

p.body-text {
    font-size: 1.1rem;
    line-height: 1.4;
 	margin-top:0;
 	margin-bottom:15px;
}

h3.section-head {
	font-size:2rem;
	margin:40px 0 10px 0;
	font-weight:700;
	line-height:1.3;
}

.byline {
    font-size: 1.1rem;
    line-height: 0.75;
    margin-top: 1.5rem;
    font-weight: 500;
}

.date {
    font-size: 0.85rem;
    line-height: 1;
    margin-top: 10px;
    font-weight:400;
    text-transform:uppercase;
    letter-spacing:0.5px;
}


p.note {
	font-size:0.85rem;
}

/* chart styles */

.chart-section {
	width:100%;
	max-width:1200px;
	padding:20px 0px;
}

.story-body .chart-section {
	padding-top:0px;
}


.chart-row {
	display:flex;
	justify-content: space-between;
	margin-top:20px;
}

p.chart-title {
	font-size:1.3rem;
	font-weight:700;
	max-width:700px;
	margin:0px auto 5px auto;
}
p.chart-subhead {
	margin:0 auto;
	max-width:700px;
	font-size:1rem;
	margin-bottom:15px;
}

p.chart-label {
	margin:0 0 5px 0;
	font-size:0.85rem;
	text-transform:uppercase;
	font-weight:600;
}

.chart-row .chart {
	width:100%;
	padding-right:15px;
	min-width:calc(25% - 15px);

}



p.chart-source {
	font-size:0.85rem;
	margin:0;
}



.chart img {
	width:100%;
}




/* photos */

.photo-section {
	padding:30px 0px;
	width:100%;
	margin:auto;
	display:flex;
	max-width:1200px;
}

.photo {
	width:100%;
	padding-right:15px;
}
.photo img {
	width:100%;	
}

p.caption {
	font-size:0.9rem;
	margin:0;
}

/* Mapbox map */

::-webkit-scrollbar {
	width: 0px;
	/* remove scrollbar space */
	background: transparent;
	/* optional: just make scrollbar invisible */
}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
}

.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
}

.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}

#select-menu {
	position: absolute;
	left: 50px;
	top: 10px;
	z-index: 10;
}
#headPlace {
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 10;
	padding: 10px;
	width: 200px;
	background-color: #DDDDDD;

}

#container {
	display: flex;
	width: 90%;
}

#map {
	display: flex;
	flex: 2;
	height: calc(100vh - 30px);
	width: 60%;
}

#article_container {
	display: inline;
}

#articlePlace {
	width: 100%;
	display: flex;
	flex: 1;
	height: calc(100vh - 30px);
	overflow: scroll;
	padding-top:2%;
	margin-left: 10px;
}


/* mobile */

@media (max-width:700px) {

	.chart-row {
		display:block;
	}

	.chart-row .chart {
		padding:0;
	}

	.photo-section {
		display:block;
	}
	.photo {
		padding:0;
	}

}



