/*** RESET ***/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

::-webkit-scrollbar { 
	display: none; 
}

body{
	color:#101010;
	background:#fff;
	font-family: 'B612 Mono', monospace;
	background-color: #fff;
}

#container {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

section {
	padding:10px;
}

h1 {
	font-size: 3em;
	font-weight: 600;
	letter-spacing: -0.1em;
	word-spacing: -0.1em;
	text-align: center;
}

h3 {
	text-align: center;
	font-size:1.5em;
	font-weight: bold;
	letter-spacing:0.5px;
	margin:0 0 5px 0;
}


p {
	font-family: 'B612', sans-serif;
	font-weight: 100;
	font-size:16px;
	margin:3px 0 10px 0;
	line-height:1.5rem;
}
section.header {
	text-align: center;
}

section.header a{
	font-weight:500;
	padding:0px 4px 2px 4px;
	text-decoration:none;
	display:inline-block;
	color:#000;
	border-bottom: none;
	background: none;
	transition:all 0.2s;
	opacity:1;
}

section.header a:hover {
	background-color:  rgb(183, 217, 250);
}

.socials {
	font-size: 1.75em;
}

.socials a:hover {
	background-color: rgb(183, 217, 250);
}

.bio {
	line-height: 1.5em;
}

.row {
	margin: 8px -16px;
	text-align: center;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
	padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
	float: left;
	width: 33%;
	box-sizing: border-box;
	-webkit-filter: none; /* Safari 6.0 - 9.0 */
		filter: none;
		transform:scale(1.05);
}

.content {
	padding: 6px 1em;
	margin: 1em 1em 1em 1em;
	height: auto;
	border-width: 2px;
	border-color: rgb(183, 217, 250);
	border-style: solid;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
		transition: all .2s;
	background-color: white;
}

.content:hover {
	-webkit-filter: none; /* Safari 6.0 - 9.0 */
		filter: none;
		transform:scale(1.05);
}

.info {
position: relative;
padding-bottom: 1.1em;
}

.description {
	font-size: 14px;
	font-weight: 100;
	line-height: 18px;
	text-align: left;
	text-justify: inter-character;
	word-break: normal;
	hyphens: auto;
}

.left-half {
/** background-color: #ff9e2c; **/
position: absolute;
left: 0px;
width: 70%;
}

.right-half {
/** background-color: #b6701e; **/
position: absolute;
right: 0px;
width: 30%;
}

.skills {
text-align: left;
font-size: 0.8em;
padding-bottom: 0.5em;
}

.date {
text-align: right;
font-size: 0.8em;
padding-bottom: 0.5em;
}

.nomargin {
margin: 0;
}
/* Clear floats after rows */
.row:after {
	content: "";
	display: table;
	clear: both;
}








#see-more {
	font-weight:600;
	font-size:16px;
	cursor:pointer;
	transition:all 0.15s;
	color:#101010;
	height:2em;
	display:inline-block;
}
#see-more span {
	width:18px;
	height:2em;
	vertical-align:baseline;
	font-size:14px;
	transition: all 0.2s;
	display:inline-block;
}
#see-more:hover {
	color: rgb(183, 217, 250);
}
#see-more:hover span {
	font-size:16px;
}


/* Loading animation */
* {
  margin: 0;
  padding: 0;
}

.container {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.container .box {
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container .box .title {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
}
.container .box .title .block {
  width: 0%;
  height: inherit;
  background: rgb(183, 217, 250);
  position: absolute;
  animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  display: flex;
}
.container .box .title h1 {
  color: #000;
  font-size: 3em;
  font-weight: 200;
  -webkit-animation: mainFadeIn 2s forwards;
  -o-animation: mainFadeIn 2s forwards;
  animation: mainFadeIn 2s forwards;
  animation-delay: 1.6s;
  opacity: 0;
  display: flex;
  align-items: baseline;
  position: relative;
}
.container .box .title h1 span {
  width: 0px;
  height: 0px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgb(183, 217, 250);
  -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 1.6s;
  margin-left: 5px;
  margin-top: -12px;
  position: absolute;
  bottom: 13px;
  right: -12px;
}
.container .box .role {
  width: 75%;
  position: relative;
  display: flex;
  align-items: center;
  height: 30px;
  margin-top: -6px;
  left: 35%;
}
.container .box .role .block {
  width: 0%;
  height: inherit;
  background: lightslategray;
  position: absolute;
  animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
  animation-delay: 2s;
  display: flex;
}
.container .box .role p {
  animation: secFadeIn 2s forwards;
  animation-delay: 3.2s;
  opacity: 0;
  font-weight: 200;
  font-family: 'B612', sans-serif;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 6.5px;
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}
@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: rgb(183, 217, 250);
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: rgb(183, 217, 250);
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: rgb(183, 217, 250);
    border: 0px solid #222;
    bottom: 17px;
  }
}
@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}