<div class="row mt-3">
  <div class="col-12">
    <h3>Chart 5: Multiple lines with annotations</h3>
    <p>Create a line graph of housing prices in different sections of the United States, illustrating how prices fall in winter.</p>
    <p>Data is in <code>housing-prices.csv</code></p>

    <div id="chart-05">
    </div>
  </div>
</div>